#docker ignore file
#local files
.git
.github
.gitignore
.idea
.cache
MD/*
*.md
__pycache__
**/__pycache__
venv

# Repo files
secret
secret/*
**/secret/*
First
First/*
*.jpeg
**/*.jpeg
ec2-user-data.sh

# Terraform
**/*.tf