<!DOCTYPE HTML>
    <html lang="en">
        <head>
            <title>Update A Movie Poster </title>
        </head>
        <body>
            <div id="container">
                <div class="form">
                    <form action="/mongo/update" method="POST">
                        <input type="hidden" name="_method" value="PUT" />
                        <div id="input-1">
                            <label for="name">Insert Movie Name:</label>
                            <input type="text" name="name" id='name' required>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div id="input-2">
                            <label for="name">Key to Update(movie_name | imdb_code):</label>
                            <input type="text" name="key" id='key' required>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div id="input-3">
                            <label for="name">Value to Update:</label>
                            <input type="text" name="value" id='value' required>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div id="div-submit">
                            <input type="submit" value="submit">
                        </div>
                    </form>
                </div>

            </div>


        </body>
    </html>